<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Restful-booker API test suite" verbose="1" >
    <parameter name="validUsername" value="admin"/>
    <parameter name="validPassword" value="password123"/>
    <parameter name="createBookingFirstName" value="John"/>
    <parameter name="createBookingLastName" value="Dough"/>
    <parameter name="createBookingTotalPrice" value="111"/>
    <parameter name="createBookingBookingPaid" value="true"/>
    <parameter name="createBookingCheckIn" value="2018-01-01"/>
    <parameter name="createBookingCheckOut" value="2019-01-01"/>
    <parameter name="createBookingAdditionalNeeds" value="Breakfast"/>
    <parameter name="updateBookingFirstName" value="Nikola"/>
    <parameter name="updateBookingLastName" value="Tesla"/>
    <parameter name="updateBookingTotalPrice" value="111"/>
    <parameter name="updateBookingBookingPaid" value="true"/>
    <parameter name="updateBookingCheckIn" value="2018-01-01"/>
    <parameter name="updateBookingCheckOut" value="2019-01-01"/>
    <parameter name="updateBookingAdditionalNeeds" value="Lunch"/>
    <parameter name="partialUpdateBookingFirstName" value="Albert"/>
    <parameter name="partialUpdateBookingLastName" value="Einstein"/>
    <parameter name="invalidUsername" value="randomUsername"/>
    <parameter name="invalidPassword" value="randomPassword"/>
    <parameter name="invalidUsernameIntDataType" value="111"/>
    <parameter name="invalidPasswordIntDataType" value="111"/>
    <parameter name="createBookingCheckInInvalidFormat" value="20000"/>
    <parameter name="createBookingCheckOutInvalidFormat" value="21000"/>
    <parameter name="createBookingInvalidLastName" value="Richards"/>
    <parameter name="emptyStringUserName" value=""/>
    <parameter name="emptyStringPassword" value=""/>
    <test name="API Test" >
        <classes>
            <class name="com.example.restBookerApi.tests.Tests" >
            </class>
        </classes>
    </test>
</suite>